* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

p:first-of-type {
  margin: 20px 0;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 700;
}

p:nth-of-type(2) {
  margin-bottom: 10px;
  color: green;
  font-weight: bold;
}

button {
  margin-top: 10px;
  padding: 0.5em 2em;
  border: 0;
  border-radius: 1em;
}

button:first-of-type {
  background-color: rgb(249, 217, 76);
}

button:first-of-type:hover {
  background-color: rgb(221, 194, 75);
}

button:nth-of-type(2) {
  background-color: rgb(255, 164, 28);
}

button:nth-of-type(2):hover {
  background-color: rgb(223, 144, 26);
}
